.cover__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 245px;
  width: 360px;
  text-decoration: none;
  color: #FFFFFF;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    padding-bottom: 195px;
  }
}


@media screen and (max-width: 768px) {
  .cover__subtitle {
    padding-bottom: 115px;
  }
}

  @media screen and (max-width: 600px) {
    .cover__subtitle {
      padding-bottom: 33px;
      font-size: 14px;
      line-height: 1.14;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 16px;
      max-width: 265px;
    }
  }