.place__paragraphs {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

@media screen and (max-width: 850px) {
  .place__paragraphs {
    gap: 25px;
  }
}

@media screen and (max-width: 500px) {
  .place__paragraphs {
    margin-left: 16px;
    margin-right: 16px;
  }
}