/* @font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter/Inter-ExtraBold.ttf);  
  font-weight: 900;
  }

  @font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter/Inter-Regular.ttf);  
    font-weight: 400; */
    }

    /* @font-face {
      font-family: 'Inter';
      font-style:  normal;
      font-weight: 400;
      font-display: swap;
      src: url(../fonts/Inter/inter-regular-webfont.woff2) format("woff2"),
           url(../fonts/Inter/inter-regular-webfont.woff) format("woff"),
           url(../fonts/Inter/Inter-Regular.ttf) format("ttf");
    }

    @font-face {
      font-family: 'Inter';
      font-style:  normal;
      font-weight: 900;
      font-display: swap;
      src: url(../fonts/Inter/Inter-ExtraBold.woff2) format("woff2"),
           url(../fonts/Inter/Inter-ExtraBold.woff) format("woff"),
           url(../fonts/Inter/Inter-ExtraBold.ttf) format("ttf"); 
    } */

    @font-face {
      font-family: 'Inter';
      src: url(../fonts/Inter/222/Inter-Black.woff2) format('woff2'),
          url(../fonts/Inter/222/Inter-Black.woff) format('woff');
      font-weight: 900;
      font-style: normal;
      font-display: swap;
  }
  
  @font-face {
      font-family: 'Inter';
      src: url(../fonts/Inter/222/Inter-Regular.woff2) format('woff2'),
          url(../fonts/Inter/222/Inter-Regular.woff) format('woff');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }
  
  @font-face {
      font-family: 'Inter';
      src: url(../fonts/Inter/222/Inter-Bold.woff2) format('woff2'),
          url(../fonts/Inter/222/Inter-Bold.woff) format('woff');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
  }
  
  