.paragraph-box {
  display: flex;
  flex-direction: column;
  gap: 27px;
}


@media screen and (max-width: 850px) {
  .paragraph-box {
    gap: 25px;

  }

  @media screen and (max-width: 500px) {
    .paragraph-box {
      margin-left: 16px;
      margin-right: 16px;

    }