.cover {
  padding-top: 12px;
  padding-left: 48px;
  padding-right: 48px;
  position: relative;
  z-index: 1;
}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: 0.3;
  z-index: 0;
  transition: opacity .5s ease-in-out;
}

.cover:hover::before {
  opacity: .8;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    padding-top: 16px;
  }
}