.cover {
  padding-top: 12px;
  margin-left: 48px;
  margin-right: 48px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    padding-top: 16px;
  }
}