.cover__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  width: 560px;
  text-decoration: none;
  color: #FFFFFF;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 265px;
  }
}