.place {
    display: grid;
    grid-template-columns: 460px 1fr;    
    column-gap: 40px;
    padding-bottom: 80px;
    
}
/* 1024 */
@media screen and (max-width: 1100px) {
    .place {
        grid-template-columns: 440px 1fr;
        column-gap: 32px;
        /* margin-left: 48px;
        margin-right: 48px; */
    } 
}

@media screen and (max-width: 850px) {
    .place {
        grid-template-columns: 340px 1fr;    
        column-gap: 28px;
        padding-bottom: 73px;
       
}

@media screen and (max-width: 650px) {
    .place {
        grid-template-columns: 45% 1fr;    
        /* column-gap: 28px;
        padding-bottom: 73px;
        padding-left: 24px;
        width: 100%;  */
    }

@media screen and (max-width: 500px) {
    .place {
        /* grid-template-columns:  1fr; */
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
        width: 100%;
        margin: 0;
    }
}