.place {
    display: grid;
    grid-template-columns: 47% 1fr;    
    column-gap: 32px;
    padding-bottom: 80px;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: 47% 1fr;
    } 
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: 47% 1fr;    
        column-gap: 28px;
        padding-bottom: 73px;
        width: 94%; 
}

@media screen and (max-width: 320px) {
    .place {
        /* grid-template-columns:  1fr; */
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
        width: 100%;
    }