.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 92px;
  padding-bottom: 24px;
  width: 90%;
  position: relative;
  padding-left: 4.68vw;
  padding-right: 4.68vw;  
  border: 1px solid red;
}



@media screen and (max-width: 768px) {
  .footer {    
    padding-top: 88px;    
    width: 93%;
    position: relative;
    padding-left: 3.12vw;
    padding-right: 3.12vw;  
  }
}

@media screen and (max-width: 320px) {
  .footer {    
    padding-top: 64px;        
    position: relative;
    padding-left: 5vw;
    padding-right: 5vw;
    flex-direction: column;  
    
  }
}