.intro__title {
  margin: 0;
  margin-top: 92px;
  font-size: 54px;
  font-weight: 900;
  line-height: 1.07;
  color: #ffffff;
}


@media screen and (max-width: 768px) {
  .intro__title {
    margin-top: 88px;
    font-size: 7.03vw;
  }
}

@media screen and (max-width: 500px) {
  .intro__title {
    margin-top: 64px;
    font-size: 10vw;
    line-height: 1.09;
  }
}